{% extends "base.html" %}
{% block Formulario_1 %}  
<body>
    <div class="mb-3">
        <h1>Buscar Cliente</h1>
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <label for="email" class="form-label">{{ form.email.label_tag }}</label>
                    {{ form.email }}
                    <div class="invalid-feedback text-white" data-sb-feedback="query:required">Este campo es requerido.</div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Buscar</button>
        </form>
    </div>
</body>
</div>
{% endblock Formulario_1 %}