{% extends "base.html" %}

{% block titulo %} Inicio ~ LaVid  {% endblock titulo %}


{% block Formulario %}
<div class="container mt-5">
    <h1>Quiero recibir información</h1>
    <form method="post"> 
        {% csrf_token %}
        <div data-mdb-input-init class="form-outline mb-4">
          {{ form.email.label_tag }}
          {{ form.email }}
          <div id="email" class="form-text">Ingrese su Email</div>
        </div>
        <div data-mdb-input-init class="form-outline mb-4">
            {{ form.nombre.label_tag }}
            {{ form.nombre }}
          <div id="nombre" class="form-text">Ingrese su Nombre</div>
        </div>
        <div data-mdb-input-init class="form-outline mb-4">
            {{ form.apellido.label_tag }}
            {{ form.apellido }}
          <div id="apellido" class="form-text">Ingrese su Apellido</div>
        </div>
        <button type="submit" class="btn btn-primary">Registrarse</button>
      </form>
{% endblock Formulario %}
